
.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(51, 85, 238);
    color: seashell;
}

p {
    color: rgb(6, 151, 6);
    margin: 0;
}

.error {
    color: red;
}